// Colors
$mint-green: #88d498;
$lime-green: #45cc49;
$emerald: #1a936f;

// Contextual colors
$color-info: #4d9de0; // Carolina Blue
$color-success: #3bb273; // Medium Sea green
$color-warn: #f5e663; // Urobilin yellow
$color-error: #e15554; // Jelly Bean red

// Google brand colors
$google-red: #db4437;
$google-blue: #4285f4;
$google-yellow: #f4b400;
$google-green: #0f9d58;

// Facebook brand colors
$facebook-blue: #3b5998;
